{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block content %}
<div class="container" style="text-align:center">
  {% if everett_is == 'away' %}
      <h1>Everett is away</h1>
      <p>...getting into mischief.</p>
  {% elif everett_is == 'home' %}
      <h1>Everett is home!</h1>
      <p>Give him a call, he misses you.</p>
  {% else %}
      <h1>Everett's location is a mystery.</h1>
      <p>OK, he's probably right here eating a cookie, but his website is messed up for some reason.</p>
  {%endif%}
  <br>
  <h4> {{date}}, {{hours}} (Pacific) </h4>
</div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}
